<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="img/books/1.jpg" class="img-responsive bookcover" alt="">
            <h5>6개월 치 업무를 하루 만에 끝내는 업무자동화</h5>
            <h6>초보자도 쉽게 배울 수 있는 업무 자동화!</h6>
            <ul class="list-inline ">
                <li>
                    <a href="https://book.naver.com/bookdb/book_detail.nhn?bid=17665326" target="_blank" rel="noreferrer">
                        <img src="img/stores/naver.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.aladin.co.kr/shop/wproduct.aspx?ISBN=8970504745&start=pnaver_02" target="_blank" rel="noreferrer">
                        <img src="img/stores/aladdin.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.yes24.com/Product/Goods/96360166" target="_blank" rel="noreferrer">
                        <img src="img/stores/yes24.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&ejkGb=KOR&linkClass=&barcode=9788970504742" target="_blank" rel="noreferrer">
                        <img src="img/stores/kyobo.png" class="bookstore"/>
                    </a>
                </li>
            </ul>
        </div>
        <a href="https://github.com/needleworm/bhban_rpa/archive/master.zip" class="page-scroll btn btn-xl" style="margin-left:auto;margin-right:auto;">
            <img src="img/mainBanner.png" alt="" style="height:30px;margin-left:auto;margin-right:auto;">
        </a>
      </div>
    </div>
  </section>
