<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="https://cdn.jsdelivr.net/gh/needleworm/bhban_rpa@web/img/logo.png" alt="" style="height:100%;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#book">책소개</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#part1">Part1</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#part2">Part2</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#part3">Part3</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#part4">Part4</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#part5">Part5</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#part6">부록</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">문의</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#otherBooks">작가의 다른 책들</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" style="height:55vw; min-height:500px;" >
        </div>
        
    </header>
    
        
    
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

