<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Event snippet for Website traffic conversion page -->
    <script>
      gtag('event', 'conversion', {'send_to': 'AW-869459612/_ieBCLym-_QBEJzNy54D'});
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N3TVVS95GJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N3TVVS95GJ');
</script>

    <!-- 미리보기 카드 -->
    <!-- 트위터 -->
    <meta name="twitter:card" content="업무자동화">
    <meta name="twitter:title" content="6개월 치 업무를 하루 만에 끝내는 업무자동화">
    <meta name="twitter:description" content="6개월 치 업무를 하루 만에 끝내는 업무자동화">
    <meta name="twitter:image" content="{{ site.baseurl }}/img/preview.jpg" />

    <!-- 일반 -->
    <meta property="og:type" content="article">
    <meta property="og:type" content="blog">
    <meta property="og:title" content="6개월 치 업무를 하루 만에 끝내는 업무자동화">
    <meta property="og:description" content="6개월 치 업무를 하루 만에 끝내는 업무자동화">
    <meta property="og:image" content="{{ site.baseurl }}/img/preview.jpg" />

    <!-- Favicon -->
    <link rel="icon" href="{{ site.baseurl }}/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/img/logo192.png" />
    <link rel="manifest" href="{{ site.baseurl }}/img/manifest.json" />
    
    <!-- favicon -->

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
