<!-- Other Books Section -->
    <section id="otherBooks" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">작가의 다른 책들</h2>
                </div>
            </div>
            
            <div class="row">
                {% for book in site.books %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ book.pic }}" class="img-responsive bookcover" alt="">
                        <h5>{{ book.title }}</h5 >
                        <ul class="list-inline ">
                            {% for store in book.stores %}
                            <li>
                                <a href="{{ store.url }}" target="_blank" rel="noreferrer">
                                    <img src="img/stores/{{store.shop}}.png" class="bookstore"/>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
