<!-- markets -->
<section  id="part3" >
    <div class="container" style="text-align:center;">
      <h3>
        Part 3. 매크로를 활용한 자동화
      </h3>
        
        <h4 class="chapterTitle"><a href="https://github.com/needleworm/bhban_rpa/raw/zips2/part3.zip">Part 3 예제코드 다운로드 
            <i class="fas fa-external-link-alt"></i>
        </a></h4>
        <div>
            <h4 class="chapterTitle">Chapter 6. 자동화의 정석, 기본 중의 기본! 매크로!</h4>
            <ul class="chapterContent">
                <li>키보드와 마우스를 움직이는 마법 지팡이, 매크로!
                </li>
                <li>매크로를 쉽게 만드는 비법 전수
                </li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">Chapter 7. 낮잠 자면서도 실적 내는 비법! 실전 매크로!</h4>
            <ul class="chapterContent">
                <li>매크로 사용을 위한 환경 구축
                    <a href="https://github.com/needleworm/pywinmacro">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>마우스의 조작
                </li>
                <li>키보드의 조작
                </li>
                <li>화면의 정보 빠르게 뽑아오기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/3_7_4.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>매크로 조금 더 들여다 보기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/3_7_5.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
