<!-- markets -->
<section  id="part5">
  <div class="container" style="text-align:center;">
    <h3>
      Part 5. 매크로는 잊어라! 헤드리스 자동화를 향하여!
    </h3>
        
        <h4 ><a href="https://github.com/needleworm/bhban_rpa/raw/zips2/part5.zip">Part 5 예제코드 다운로드 
            <i class="fas fa-external-link-alt"></i>
        </a></h4>
      <div>
          <h4 class="chapterTitle">Chapter 10. 인터넷 자동화 중급<br/>HTML을 몰라도 할 수 있는 HTML 크롤링</h4>
          <ul class="chapterContent">
              <li>스마트한 자동화를 하려면 매크로를 쓰지 않아야 한다
              </li>
              <li>웹(Web)과 HTML 겉핥기, 가짜뉴스 만들어보기
              </li>
              <li>매크로 없이 트위터 로그인 구현하기
                <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_10_3.zip">
                <i class="fas fa-download"></i>
                </a>
              </li>
              <li>매크로 없이 트위터에 글 써주는 로봇 만들기
                <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_10_4.zip">
                <i class="fas fa-download"></i>
                </a>
              </li>
              <li>매크로 없이 뉴스 기사를 자동으로 트위터에 올려주는 뉴스 봇 만들기
                <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_10_5.zip">
                <i class="fas fa-download"></i>
                </a>
              </li>
              <li>매크로 없이 인스타그램에서 특정 태그가 달린 게시물 모조리 캡처하기
                <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_10_6.zip">
                <i class="fas fa-download"></i>
                </a>
              </li>
              <li>매크로 없이 인스타그램에서 특정 태그가 달린 게시물 모조리 '좋아요' 누르기
                <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_10_7.zip">
                <i class="fas fa-download"></i>
                </a>
              </li>
              <li>매크로 없이 인스타그램에서 특정 태그가 달린 게시물에 모조리 댓글 달기
                <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_10_8.zip">
                <i class="fas fa-download"></i>
                </a>
              </li>
          </ul>
      </div>
      <hr/>
      <div>
          <h4 class="chapterTitle">Chapter 11. 인터넷 자동화 고급<br/>비즈니스에 바로 투입 가능한 자동화</h4>
          <ul class="chapterContent">
              <li>컴퓨터는 하나를 배우면 하나를 알지만 사람은 아니다
              </li>
              <li>마케팅 및 SNS 여론 형성 - 멀티 계정 트위터 봇
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_11_2.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
              <li>마케팅 및 SNS 여론 형성 - 트위터 뉴스 봇
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_11_3.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
              <li>고객관리 및 팔로워 늘리기 - 인스타그램 '좋아요' 봇
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_11_4.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
              <li>고객관리 및 팔로워 늘리기 - 인스타그램 댓글 봇
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_11_5.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
              <li>구글 이미지 크롤링 초급 - 섬네일 수집
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_11_6.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
              <li>구글 이미지 크롤링 중급 - 미리보기 이미지 수집
                <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_11_7.zip">
                <i class="fas fa-download"></i>
                </a>
              </li>
              <li>구글 이미지 크롤링 상급 - 고화질 원본 이미지 수집
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/5_11_8.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</section>
