<!-- markets -->
<section  id="part1" >
    <div class="container" style="text-align:center;">
      <h3>
        Part 1. 업무 자동화 첫걸음
      </h3>
        <div>
            <h4 class="chapterTitle">Chapter 1. 업무 자동화를 시작하며</h4>
            <ul class="chapterContent">
                <li>책 한 권으로 자동화를 배우는 게 가능할까?</li>
                <li>쉬운 자동화, 정말 가능할까?</li>
                <li>업무 자동화가 현실에서 도움이 될까?</li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">Chapter 2. 업무 자동화를 위한 컴퓨터 세팅</h4>
            <ul class="chapterContent">
                <li>일단 그대로 따라 하기</li>
                <li>무료로 온라인 작업실 마련하기<a href="https://github.com"  target="_blank" rel="noreferrer">
                    <i class="fab fa-github"></i>
                </a></li>
                <li>예제 코드 다운로드<a href="https://github.com/needleworm/bhban_rpa"  target="_blank" rel="noreferrer">
                    <i class="fab fa-github"></i>
                </a></li>
                <li>컴퓨터에서 코드를 실행하는 방법</li>
            </ul>
        </div>
      </div>
    </div>
  </section>
