<!-- markets -->
<section  id="part2" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        Part 2. 컴퓨터 자동화 기초
        
      </h3>
        
        <h4 class="chapterTitle"><a href="https://github.com/needleworm/bhban_rpa/raw/zips2/part2.zip">2편 예제코드 다운로드 
            <i class="fas fa-external-link-alt"></i>
        </a></h4>
        <div>
            <h4 class="chapterTitle">Chapter 3. 컴퓨터! 커피 한 잔 마시고 올게, 전부 정리해놔!</h4>
            <ul class="chapterContent">
                <li>회원 개인정보 파일 1천 개, 1초 만에 만들기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_3_1.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>회원 개인정보 파일 1천 개, 텍스트 파일 하나로 합치기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_3_2.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>회원 개인정보 파일 1천 개, CSV 파일 하나로 합치기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_3_3.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>개인정보 파일 1천 개, CSV 파일로 예쁘게 합치기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_3_4.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>개인정보 CSV 파일, xlsx 엑셀 파일로 변환하기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_3_5.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>회원 개인정보 파일 1천 개, CSV를 거쳐 xlsx 엑셀 파일로 합치기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_3_6.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>회원 개인정보 파일 1천 개, xlsx 엑셀 파일 하나로 바로 합치기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_3_7.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">Chapter 4. 컴퓨터! 엑셀 정리 좀 해놔, 10초 안에!</h4>
            <ul class="chapterContent">
                <li>예제용 CSV 파일 1천 개, 1초 만에 만들기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_4_1.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>CSV 파일 1천 개, 1초 만에 합치기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_4_2.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>CSV 파일 1천 개, 양식을 유지하며 하나로 합치기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_4_3.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>예제용 엑셀 파일 1천 개, 엔터키 한 번에 만들기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_4_4.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>엑셀 파일 1천 개, 순식간에 하나로 합치기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_4_5.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>무작위 엑셀 파일의 서식을 망가뜨리기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_4_6.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>섞여 있는 엑셀 파일 1천 개, 서식이 몇 종류인지 분석하기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_4_7.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>서식이 잘못된 엑셀 파일을 찾아내고, 처리해라!
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_4_8.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>서식이 올바른 엑셀 파일, 순식간에 합치기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_4_9.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>서식이 서로 일치하는 엑셀 파일끼리 합치기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_4_10.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>엑셀 파일의 내용을 엉망으로 만들어버리는 자동화
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_4_11.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">Chapter 5. 컴퓨터! 디자인 작업도 자신 있지? 1분 안에 모두 처리해!</h4>
            <ul class="chapterContent">
                <li>사진 1천 장, 한 번에 만들기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_5_1.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>사진 1천 장, 사이즈 한 번에 변경하기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_5_2.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>사진 1천 장, 인스타그램용 사이즈로 한 번에 변경하기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_5_3.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>사진 1천 장, 한 번에 로고 삽입하기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_5_4.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>명함 1천 개, 엔터키 한 번에 디자인 끝내기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_5_5.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>예제를 위해 증명사진 1,000장이 필요해졌네요
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_5_6.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>사원증 1,000개, 엔터키 한 번에 디자인 끝내기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_5_7.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
                <li>수료증(상장) 1천 개, 엔터키 한 번에 디자인 끝내기
                    <a href="https://github.com/needleworm/bhban_RPA/raw/zips/2_5_8.zip">
                    <i class="fas fa-download"></i>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
