<!-- markets -->
<section  id="part4" class="bg-light-gray">
  <div class="container" style="text-align:center;">
    <h3>
      Part 4. 인터넷 활용 자동화
    </h3>
        
        <h4 class="chapterTitle"><a href="https://github.com/needleworm/bhban_rpa/raw/zips2/part4.zip">2편 예제코드 다운로드 
            <i class="fas fa-external-link-alt"></i>
        </a></h4>
      <div>
          <h4 class="chapterTitle">Chapter 8. 인터넷 자동화 입문<br/>크롤러 소개</h4>
          <ul class="chapterContent">
              <li>인터넷을 자동으로 탐색하는 크롤러
              </li>
              <li>크롤러 제작을 위한 환경 설정
                  <a href="https://www.google.com/intl/ko/chrome/">
                    <i class="fab fa-chrome"></i>
                  </a> &nbsp;
                  <a href="https://chromedriver.chromium.org/downloads">
                    <i class="fas fa-external-link-alt"></i>
                  </a>
              </li>
              <li>크롤러 제작을 위한 셀레늄(Selenium) 겉핥기
              </li>
              <li>매크로를 이용해 크롤러 만들어보기
              </li>
          </ul>
      </div>
      <hr/>
      <div>
          <h4 class="chapterTitle">Chapter 9. 인터넷 자동화 초급<br/>매크로 활용</h4>
          <ul class="chapterContent">
              <li>매크로를 활용해 로그인 구현하기
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/4_9_1.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
              <li>매크로를 활용해 트위터에 글 써주는 로봇 만들기
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/4_9_2.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
              <li>매크로를 활용해 여러 계정으로 트위터에 글 써주는 로봇 만들기
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/4_9_3.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
              <li>매크로를 활용해 뉴스 기사를 자동으로 트위터에 올려주는 뉴스 봇 만들기
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/4_9_4.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
              <li>매크로를 활용해 인스타그램에서 특정 태그가 달린 게시물 모조리 캡처하기
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/4_9_5.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
              <li>매크로를 활용해 인스타그램에서 특정 태그가 달린 게시물 모조리 '좋아요' 누르기
                  <a href="https://github.com/needleworm/bhban_RPA/raw/zips/4_9_6.zip">
                  <i class="fas fa-download"></i>
                  </a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</section>
